html{
    font-size: 62.5%;
    background: #29bde0;
}
*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
img{
    display: inline-block;
    zoom: 0.5;
}
span{
    display: inline-block;
}
a{
    text-decoration: none;
}

@mixin flex {
    display: flex;
    align-items: center;
}
@mixin display {
    display: inline-block;
}
@mixin row {
    width: 100%;
    height: 5rem;
}
$haeder-height:4.4rem;
$border: 1.1px solid #ffffff;

header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: $haeder-height;
    text-align: center;
    color: #ffffff;
    background: #29bde0;
    font-size: 1.7rem;
    font-weight: 100;
    line-height: $haeder-height;
    .menu{
        height: 1.8rem;
        width: 1.8rem;
        position: absolute;
        top: 1.3rem;
        left: 0.8rem;
        display: inline-block;
        border: $border;
        @include flex();
        flex-direction: column;
        justify-content: space-evenly;
        span{
            display: inline-block;
            width: 1.5rem;
            border-bottom: $border;
        }
    }
    p{
        margin-top: 0.5rem;
    }
    .close{
        position: absolute;
        top: 0;
        right: 0.8rem;
        .false{
            display: inline-block;
            width: 2.5rem;
            height: 1.2px;
            background: #ffffff;
            line-height: 0;
            font-size: 0;
            vertical-align: middle;
            -webkit-transform: rotate(45deg);
            &::after{
                content: '/';
                display: block;
                width: 2.5rem;
                height: 1.2px;
                background: #ffffff;
                -webkit-transform: rotate(-90deg);
            }  
        }
    }
}

main{
    margin-top: $haeder-height;
    margin-bottom: 12rem;
    .main-title{
        position: relative;
        height: 4.1rem;
        padding-left: 2.4rem;
        background: #b9e9f5;
        font-size: 1.4rem;
        line-height: 4.1rem;
        &::after{
            content: "";
            width: 0px;
            height: 0px;
            border-style: solid ;
            border-width: 1.1rem 0.6rem 1.1rem 0.6rem;
            border-color:#b9e9f5 transparent transparent transparent ;
        }
        audio{
            width: 26px;
            height: 26px;
            position: absolute;
            top: 0.7rem;
            right: 0.5rem;
            display: none;
        }
        img{
            position: absolute;
            top: 0.7rem;
            right: 0.5rem;
        }
    }
    .main-tip{
        margin-top: 1.5rem;
        margin-left: 3.2rem;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 100;
    }
    .main-content{
        @include flex();
        justify-content: space-around;
        .content-box{
            display: inline-block;
            margin-top: 1rem;
            .content-photo{
                position: relative;
                width: 20vw;
                height: 20vw;
                border: 3px solid #ffffff;
                p{
                    width: 100%;
                    position: absolute;
                    @include flex();
                    justify-content: center;
                    &:nth-child(1){
                        background: #f5c97b;
                        height: 74%;
                        font-size: 1.5vmax;
                    }
                    &:nth-child(2){
                        bottom: 0;
                        background: #83b09a;
                        color: #ffffff;
                        height: 26%;
                        font-size: 1.1vmax;
                        font-weight: 100;
                    }
                }
            }
            .content-hover{
                opacity: 0;
                @include flex();
                justify-content: space-between;
                margin-top: 1rem;
                margin-right: -0.5px;
            }
            &:hover .content-hover{
                opacity: 1;
            }
        }
    }

}

footer{
    position: relative;
    width: 100%;
    height: 9.5rem;
    padding-top: 0.5rem;
    background: #29bde0;
    position: fixed;
    bottom: 0;
    text-align: center;
    span{
        position: absolute;
        top: 0;
        left: calc(calc(40% / 6) - 1.5px);
        right: calc(calc(40% / 6) - 1.5px);
        height: 1px;
        background: #ffffff;
        width: calc(100% - calc(40% / 3 ) + 3px);
    }
    a{
        display: inline-block;
        margin: 0 auto;
        height: 4.4rem;
        width: 24.5rem;
        margin-top: 2rem;
        font-size: 2rem;
        color: #ffffff;
        font-weight: 100;
        line-height: 4.4rem;
        background: #fbb435;
    }
}