html  {
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #29bde0;
}
*{
    margin:0;
    padding:0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.bg-audio {
    width: 52px; height: 52px;
    background: url('css_sprites7-21.png') -10px -10px;
}
.bg-menu {
    width: 39px; height: 40px;
    background: url('css_sprites7-21.png') -82px -10px;
}
.bg-exit {
    width: 36px; height: 36px;
    background: url('css_sprites7-21.png') -10px -82px;
}
.bg-cure {
    width: 5vw; height: 5vw;
    background: url('css_sprites7-22.png') no-repeat -0 0%;
    background-size: 100%;
}
.bg-hunter {
    width: 5vw; height: 5vw;
    background: url('css_sprites7-22.png') no-repeat -0 33.33%;
    background-size: 100%;
}
.bg-prove {
    width: 5vw; height: 5vw;
    background: url('css_sprites7-22.png') no-repeat -0 66.66%;
    background-size: 100%;
}
.bg-kill {
    width: 5vw; height: 5vw;
    background: url('css_sprites7-22.png') no-repeat -0 100%;
    background-size: 100%;
}
header{
    position: fixed;
    width: 100%;
    background-color: #29bde0;
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;
    z-index: 100;
}
header span{
    position: relative;
    top: -0.9rem;
}
header button{
    transform: scale(0.55);
}
.bg-menu{
    position: relative;
    right: 32.7vw;
}
.bg-exit{
    position: relative;
    left: 32.7vw;
}
.tips{
    position: relative;
    top: 4.6rem;
    height: 4.1rem;
    background-color: #b9e9f5;
    font-size: 1.3rem;
    text-align: left;
}
.tips p:nth-of-type(1){
    font-size: 1.3rem;
    position: absolute;
    left: 2.4rem;
    line-height: 4.1rem;
}
.tips p:nth-of-type(2) {
    font-size: 1.2rem;
    position: absolute;
    top: 5rem;
    left: 3.5rem;
    color: #ffffff;
    font-weight: 100;
}
.tips::after{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 4.1rem;
    left: 3.5rem;
    border-width: 0.8rem 0.7rem 0;
    border-style: solid;
    border-color: #b9e9f5 transparent transparent transparent;
}
audio {
    width: 52px;
    position: absolute;
    left: 0;
    top: 0;
    transform:translateX(-50px) 
}
.bg-audio {
    position: absolute; 
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    transform: scale(0.5);
}
main{
    margin-bottom: 29vmin;
}
.container-fluid{
    margin-top: 5rem;
}
.row{
    margin: 11.6vw 15px auto 15px;
}
.col-sm-4,col-xs-4,col-md-4,col-lg-4{
    padding: 0;
}
.box{
    position: relative;
    width: 25vw;
    height: 25vw;
    margin: 0 auto; 
    border: 1vw solid #ffffff;
    text-align: center;
    background-color: #f5c97b;
}
.operation{
    display: none;
    position: relative;
    top:26vw;
    left: -1vw;
}
.choose{
    width: 25vw;
    display: flex;
    justify-content: space-between;
}
.box:hover .operation{
    display: block;
}
.box span{
    display: block;
    position: absolute;
    top: 30%;
    left:0;
    right: 0;
    font-size: 4.7vw;
    color: #565656
}
.box p{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    font-size: 3.6vw;
    margin: 0;
    color: #ffffff;
    background-color: #83b09a;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9.5rem;
    text-align: center;
    background-color: #29bde0;
}
footer button{
    width: 24.5rem;
    height: 4.4rem;
    margin: 2.1rem auto;
    background-color: #fbb435;
    font-size: 2rem;
    color: #ffffff;
}