html  {
    font-size: 13.333333vw;
}
body{
    width: 100%;
    height: 100%;
    background-color: #29bde0;
}
*{
    padding: 0;
    margin: 0;
}
button{
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
}
.bg-aside {
    width: 34px; height: 27px;
    background: url('css_sprites.png') -10px -307px;
}
.bg-next {
    width: 28px; height: 56px;
    background: url('css_sprites.png') -381px -10px;
}
.bg-back {
    width: 24px; height: 40px;
    background: url('css_sprites.png') -381px -86px;
}
.bg-audio {
    width: 52px; height: 52px;
    background: url('css_sprites.png') -10px -235px;
}
.bg-cure {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -60px -354px;
}
.bg-exit {
    width: 36px; height: 36px;
    background: url('css_sprites.png') -272px -235px;
}
.bg-hunter {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -110px -354px;
}
.bg-kill {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -10px -354px;
}
.bg-menu {
    width: 39px; height: 40px;
    background: url('css_sprites.png') -213px -235px;
}
.bg-prove {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -328px -235px;
}
.bg-feedback {
    width: 40px; height: 40px;
    background: url('css_sprites.png') -153px -235px;
}
.bg-home {
    width: 51px; height: 42px;
    background: url('css_sprites.png') -82px -235px;
}
.bg-victory {
    width: 351px; height: 205px;
    background: url('css_sprites.png') -10px -10px;
}
header{
    background-color: #29bde0;
    height: 0.88rem;
    color: #ffffff;
    font-size: 0.34rem;
    text-align: center;
    line-height: 0.88rem;
}
header button{
    margin-top: 0.17rem;
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(0.5);
}
.bg-menu{
    float: left;
    margin-left: 0.24rem;
}
.bg-exit{
    float: right;
    margin-right: 0.24rem;
}
.tips{
    position: relative;
    height: 0.82rem;
    background-color: #b9e9f5;
    font-size: 0.26rem;
}
.tips p:nth-of-type(1){
    font-size: 0.26rem;
    padding-left: 0.43rem;
    line-height: 0.82rem;
}
.tips p:nth-of-type(2) {
    font-size: 0.24rem;
    padding-left: 0.7rem;
    color: #ffffff;
    font-weight: 100;
}
.tips::after{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 0.82rem;
    left: 0.7rem;
    border-width:0.15rem 0.13rem 0;
    border-style: solid;
    border-color: #b9e9f5 transparent transparent transparent;

}
audio {
    opacity: 0;
    height: 0;
    width: 0;
}
.bg-audio {
    position: absolute; 
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    transform: scale(0.5);
}