html  {
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #29bde0;
}
*{
    margin:0;
    padding:0;
}button{
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(0.55);
    background: transparent;
}