html  {
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0!important;
}
*,p{
    padding: 0;
    margin: 0;
}
.bg-aside {
    width: 34px; height: 27px;
    background: url('css_sprites7-1.png') -102px -10px;
}
.bg-back {
    width: 24px; height: 40px;
    background: url('css_sprites7-1.png') -58px -10px;
}
.bg-next {
    width: 28px; height: 56px;
    background: url('css_sprites7-1.png') -10px -10px;
}
header{
    background-color: #29bde0;
    height: 7.8vh;
}
header button{
    margin-top: 2.7vh;
    margin-left: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(0.7);
}
.last-game{
    position: relative;
	width: 100%;
	height: 10.5vh;
    margin-bottom: 2.3vh; 
    background-color: #ffffff;
    color: #9a9a9a;
    font-size: 2.9vh;
    text-align: center;
    line-height: 10.5vh;
    border: 1px solid #d0d0d0;
}
.bg-back{
    position: absolute;
    right: 1rem;
    top: 2.1vh;
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(0.6);
}
main {
	width: 88%;
	margin: 2.3vh 6% 5.1vh 6%;
}
.title{
    height: 8vh;
    color: #fbb435;
    font-size: 3.2vh;
    font-weight:lighter;
    text-align: center;
    line-height: 8vh;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-bottom: none;
}
hr{
    margin: 0;
    border:none;
    border-top:1px solid #fbb435;
}
.game{
    border: 1px solid #d0d0d0;
    border-bottom: none;
    border-top:none; 
    background-color: #ffffff;
    color: #787878;
    font-size: 2.3vh;
    font-weight:lighter;
    text-align-last: center;
}
.box button{
    margin-top: 2.7vh;
    margin-bottom: 1.8vh;
    font-size: 2.8vh;
    font-weight:lighter;
    width: 80%;
    height: 11.8vh;
    background-color: #69d1e9;
    border: 1px solid #d7f3f9;
    border-radius: 0;
}
.page{
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-top: none;
}
.round1{
    color: #69d1e9;
    font-size: 3.4vh;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
}
.round2{
    color: #f0f0f0;
    font-size: 3.4vh;
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
}
.bg-next{
    position: absolute;
    right: 7.8vw;
    top: 54.8vh;
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(0.5);
}