html  {
    font-size: 13.333333vw;
}
body{
    width: 100%;
    height: 100%;
    background-color: #29bde0;
}
*{
    margin:0;
    padding:0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
.bg-audio {
    width: 52px; height: 52px;
    background: url('css_sprites7-21.png') -10px -10px;
}
.bg-menu {
    width: 39px; height: 40px;
    background: url('css_sprites7-21.png') -82px -10px;
}
.bg-exit {
    width: 36px; height: 36px;
    background: url('css_sprites7-21.png') -10px -82px;
}
.bg-cure {
    width: 30px; height: 30px;
    background: url('css_sprites7-22.png') no-repeat -0 -0;
}
.bg-hunter {
    width: 30px; height: 30px;
    background: url('css_sprites7-22.png') no-repeat -0 -30px;
}
.bg-prove {
    width: 30px; height: 30px;
    background: url('css_sprites7-22.png') no-repeat -0 -60px;
}
.bg-kill {
    width: 30px; height: 30px;
    background: url('css_sprites7-22.png') no-repeat -0 -90px;
}
header{
    background-color: #29bde0;
    color: #ffffff;
    font-size: 0.37rem;
    text-align: center;
    line-height: 0.88rem;
}
header button{
    transform: scale(0.55);
}
.bg-menu{
    position: relative;
    top: 0.34rem;
    right: 2.14rem;
}
.bg-exit{
    position: relative;
    top: 0.34rem;
    left: 2.14rem;
}
.tips{
    position: relative;
    height: 0.82rem;
    background-color: #b9e9f5;
    font-size: 0.26rem;
    text-align: left;
    padding-top:1px; 
}
.tips p:nth-of-type(1){
    font-size: 0.26rem;
    position: absolute;
    left: 0.47rem;
    line-height: 0.82rem;
}
.tips p:nth-of-type(2) {
    font-size: 0.24rem;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    color: #ffffff;
    font-weight: 100;
}
.tips::after{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 0.82rem;
    left: 0.7rem;
    border-width:0.15rem 0.13rem 0;
    border-style: solid;
    border-color: #b9e9f5 transparent transparent transparent;
}
audio {
    opacity: 0;
    width: 100vw;
    width: 52px;
    position: absolute;
    left: 0;
    top: 0;
}
.bg-audio {
    position: absolute; 
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    transform: scale(0.5);
}
.container-fluid{
    margin-top: 0.26rem;
}
.row{
    margin-top: 0.74rem;
}
.col-sm-4,col-xs-4,col-md-4,col-lg-4{
    padding: 0;
}
.box{
    position: relative;
    width: 75%;
    height: 0;
    padding-top:75%; 
    margin: 0 auto; 
    border: 2px solid #ffffff;
    text-align: center;
    background-color: #f5c97b;
}
.operation{
    display: none;
    width: 100%;
    text-align: center;
}
.choose{
    display: flex;
    align-content: space-between;
}
.choose button{
}
.box:hover .operation{
    display: block;
}
.box span{
    display: block;
    position: absolute;
    top: 30%;
    left:0;
    right: 0;
    font-size: 0.3rem;
    color: #565656
}
.box p{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    font-size: 0.23rem;
    margin: 0;
    color: #ffffff;
    background-color: #83b09a;
}
.space{
    width: 100%;
    height: 2.6rem;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.9rem;
    text-align: center;
    background-color: #29bde0;
}
footer button{
    width: 4.9rem;
    height: 0.87rem;
    margin: 8% auto;
    background-color: #fbb435;
    font-size: 0.4rem;
    color: #ffffff;
}