html  {
    font-size: 62.5%;
    width: 100%;
}
body{
    background-color: #29bde0;
}
*{
    margin: 0;
    padding: 0;
}
button{
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(0.5);
}
p{
    padding: 0;
    margin: 0;
}
.bg-audio {
    width: 52px; height: 52px;
    background: url('css_sprites.png') -10px -235px;
}
.bg-cure {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -60px -354px;
}
.bg-exit {
    width: 36px; height: 36px;
    background: url('css_sprites.png') -272px -235px;
}
.bg-hunter {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -110px -354px;
}
.bg-kill {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -10px -354px;
}
.bg-menu {
    width: 39px; height: 40px;
    background: url('css_sprites.png') -213px -235px;
}
.bg-prove {
    width: 30px; height: 30px;
    background: url('css_sprites.png') -328px -235px;
}
header{
    position: fixed;
    width: 100%;
    height: 12.2vmin;
    text-align: center;
    background-color: #29bde0;
    font-size: 3vmax;
    font-weight: 100;
    z-index: 100;
}
header p{
    display: inline-block;
    color: #ffffff;
    line-height: 12.2vmin;
}
.bg-menu{
    float: left;
    margin-top: 0.3rem;
    margin-left: 1.2rem;
    transform: scale(0.5);
}
.bg-exit{
    float: right;
    margin-top: 0.3rem;
    margin-right: 1.2rem;
    transform: scale(0.5);
}
.reminder{
    position: relative;
    top: 12.4vmin;
    height: 11.4vmin;
    width: 100%;
    background-color: #b9e9f5;
    line-height: 11.4vmin;
    text-align: left;
}
.reminder p:nth-of-type(1){
    padding-left: 5.8vmin;
    font-size: 3.6vmin;
    color: #545a5c;
}
.reminder::after{
    content: "";
    position: absolute;
    top: 11.4vmin;
    left: 7.5vw;
    width:0;
    height:0;
    border-width: 1.8vmin 2.2vmin 0;
    border-style:solid;
    border-color:#b9e9f5 transparent transparent;/*浅蓝 透明 透明 */
}
audio {
    opacity: 0;
    height: 0;
    width: 0;
}
.bg-audio {
    position: absolute; 
    right:0;
    top:0;bottom:0;
    margin:auto;
    transform: scale(0.5);
}
.reminder p:nth-of-type(2){
    position: absolute;
    padding-left: 6vmin;
    font-size: 3.3vmin;
    font-weight: 100;
    letter-spacing: 0.1vmin;
    color: #ffffff;
}
.row{
    list-style: none;
    outline: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    position: relative;
    top: 10.2vmax;
    height:0;
    padding-top: 18%;
    margin-left: 6vw;
    margin-top: 10%;
    border: 5px solid #ffffff;
    background-color: #f5c97b;
    text-align: center;
}
.operation{
    display: none;
}
.choose{
    display: flex;
    width: 100%;
}
li:hover .operation{
    display: block;
}
li p{
    position: absolute;
    top: 30%;
    right: 1%;
    width: 100%;
    font-size: 4.2vw;
}
li span{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3.7vw;
    width: 100%;
    background-color: #83b09a;
    font-size: 3.2vw;
    color: #ffffff;
}
.content:after{
    content:"";
    display:block;
    visibility:hidden;
    height:0;
    clear:both;
    }
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9.5rem;
    background-color:#29bde0;
    text-align: center;
    z-index: 100;
}
footer button{
    width: 100%;
    height: 14vh;
    background-color: #fbb435;
    font-size: 3rem;
    color: #ffffff;
}
.bottom{
    height: 30vh;
    width: 100%；
}