html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #68cdd5;
    font-size: 62.5%;
}
.back {
    position: fixed;
    top: 1rem;
    left: 1.75rem;
}
.back img{
    width: 2.7rem;
    height: 2.7rem;
}
.logo {
    position: fixed;
    top: 5.8rem;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    height: 9.3rem;
    text-align: center;
}
.logo img{
    height: 3.5rem;
}
.content{
    position: fixed;
    top: 15.4rem;
    text-align: center;
    left: 14.7%;
    right: 14.7%;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.35rem;
    line-height: 2.7rem;
    color: #ffffff;
    overflow: hidden;
}
.bottom{
    position: relative;
    top: 34.05rem;
}
.bottom .left{
    text-align: center;
    float: left;
    width: 50%;
    color: #eaf8f9;
    font-size: 0.95rem;
}
.right img{
    width: 4.2rem;
    height: 4.2rem;
}
.bottom .right{
    text-align: center;
    float: right;
    width: 50%;
    color: #f7fcfd;
    font-size: 0.95rem;
}
.left img{
    width: 4.2rem;
    height: 4.2rem;
}