html,body{
    margin: 0;
    padding: 0;
    background-color: #68cdd5;
    font-size: 62.5%;
}
.back {
    position: fixed;
    top: 1rem;
    left: 1.75rem;
}
.back img{
    width: 2.7rem;
    height: 2.7rem;
}
.logo {
    position: fixed;
    top: 5.8rem;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    height: 9.3rem;
    text-align: center;
}
.logo img{
    height: 3.5rem;
}
.content{
    margin-top: 15.4rem;
    padding: 0 14%;
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
    line-height: 2.7rem;
    letter-spacing: 0.1rem;
    color: #e4f6f8;
}
.bottom{
    position: fixed;
    width: 100%;
    top: 34.05rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    text-align: center;
}
.bottom .left{
    margin-left: 17%;
    color: #eaf8f9;
}
.bottom .right{
    margin-right: 15%;
    color: #f7fcfd;
}
.left img{
    width: 4.2rem;
    height: 4.2rem;
}
.right img{
    width: 4.2rem;
    height: 4.2rem;
}