html {
  font-size: 62.5%;
  letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

img {
  display: inline-block;
  zoom: 0.55;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 4.4rem;
  text-align: center;
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: 100;
  line-height: 4.4rem;
  background: #29bde0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #74d4eb;
}

header img {
  display: block;
  padding: 0.5rem 0.9rem;
}

main {
  margin-top: 4.4rem;
  margin-bottom: 6rem;
  background: #29bde0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 4rem 1rem 3.8rem;
}

main .main-top img {
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
}

main .main-top p:nth-of-type(1) {
  color: #ffc865;
  font-size: 1.8rem;
}

main .main-top .result {
  width: 100%;
  text-align: left;
  font-weight: 100;
}

main .main-top .result p:nth-child(1), main .main-top .result p, main .main-top .result span {
  color: #ffffff;
  font-size: 1.38rem;
  line-height: 2.4rem;
}

main .main-top .result .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .main-bottom {
  width: 100%;
  background: #ffffff;
}

main .main-bottom .details {
  border-bottom: 1px solid #dddddd;
}

main .main-bottom .details .detail-box {
  display: block;
  margin: auto 4rem 1.8rem 3.8rem;
}

main .main-bottom .details .detail-box .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 3.5em;
}

main .main-bottom .details .detail-box .detail .date {
  font-size: 1.5rem;
}

main .main-bottom .details .detail-box .detail .time {
  font-size: 1.1rem;
  color: #cbcbcb;
}

main .main-bottom .details .detail-box p {
  font-size: 1.4rem;
  color: #a6a6a6;
  font-weight: 100;
  line-height: 2.2rem;
  letter-spacing: 2px;
}

footer {
  width: 100%;
  height: 6.5rem;
  background: rgba(153, 223, 240, 0.6);
  padding-top: 0.5rem;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .left, footer .right {
  height: 4.3rem;
  width: 15.5rem;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ffffff;
  background: #f66f6f;
}

footer .right {
  background: #fbb435;
}
