html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}
img{
    display: inline-block;
    zoom: 0.5;
}
span{
    display: inline-block;
}
$border: 1px solid;

@mixin flex {
    display: flex;
    align-items: center;
}
@mixin display {
    display: inline-block;
}
@mixin row {
    width: 100%;
    height: 5rem;
}
@mixin border-shadow{
    border-image: -webkit-linear-gradient(#ffffffff,#e1e5e7,#ffffff) 0 20%;
    border-image: -moz-linear-gradient(#ffffff,#e1e5e7,#ffffff) 0 20%;
    border-image: linear-gradient(#ffffff,#e1e5e7,#ffffff) 0 20%;
}

header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 4.4rem;
    background: #5fc0cd;
    text-align: center;
    font-weight: 100;
    line-height: 4.4rem;
    .button{
        width: 40%;
        height: 3.5rem;
        position: relative;
        top: 0.4rem;
        left: 30%;
        border-radius: 5px;
        background: #55a8b3;
        button{
            font-size: 1.7rem;
            color: #ffffff;
        }
        .button-left{
            height: 100%;
            width: 50%;
            position: absolute;
            left: 0;
        }
        .button-right{
            height: 100%;
            width: 50%;
            position: absolute;
            border-radius: 5px;
            color: #5fc0cd;
            background: #ffffff;
        }
    }
    .map{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
    }
}
main{
    margin-top: 4.4rem;
    margin-bottom: 6rem;
    .filter{
        border-bottom: $border #e1e5e7;
        display: flex;
        .filter-box{
            width: 33.3333333333333%;
            height: 4rem;
            font-size: 1.4rem;
            padding-left: calc(16.7% - 28px);
            color: #999999;
            outline: none;
            border: none;
            border-right: $border #e1e5e7;
            @include border-shadow();
        }
    }
    .list{
        font-size: 1.3rem;
        .list-box{
            padding: 1.5rem;
            position: relative;
            border-bottom: $border #e1e5e7;
            .date{
                margin-bottom: 1.3rem;
                .list-title{
                    margin-left: 0.8rem; 
                    color: #9f9f9f;
                    font-size: 1.3rem;
                }
            }
            .list-text{
                display: inline-block;
                margin-left: 2rem;
                margin-bottom: 1rem;
                font-size: 1.4rem;
            }
            .price{
                position: absolute;
                top: 4.1rem;
                right: 1.6rem;
                color: red;
                font-size: 1.5rem;
                img{
                    padding-left: 0.5rem;
                    position: relative;
                    top: 0.3rem;
                }
            }
            .location{
                @extend .date;
                margin-bottom: 0;
            }
        }
    }
}
footer{
    width: 100%;
    padding-top: 0.5rem;
    position: fixed;
    background: #ffffff;
    bottom: 0;
    @include flex(); 
    justify-content: space-evenly;
    .footer-left{
        @include flex(); 
        flex-direction: column;
        color: #5fc0cd;
    }
    .footer-right{
        @extend .footer-left;
        color: #999999;
    }
    img{
        margin-bottom: 0.6rem;
    }
}