html  {
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}
*{
    margin:0;
    padding:0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(1);
}
.bg-wechat {
    width: 1.7rem; height: 1.6rem;
    background: url('../../jnshu8/img/jnshu8-1/css_sprites-share.png') 0 0;
    background-size: 100%;
}
.bg-QQ {
    width: 1.7rem; height: 1.6rem;
    background: url('../../jnshu8/img/jnshu8-1/css_sprites-share.png') 0 50%;
    background-size: 100%;
}
.bg-weibo {
    width: 1.7rem; height: 1.6rem;
    background: url('../../jnshu8/img/jnshu8-1/css_sprites-share.png') 0 100%;
    background-size: 100%;
}
header{
    width: 100%;
    padding-bottom:0;
}
.row{
    margin: 0;
}
header p{
    font-size: 1rem;
    line-height: 2.5rem;
    color: #67c097;
    margin: 0;
}
header span{
    float: right;
}
header button{
    margin: 0.4rem;
    padding: 0;
}
.carousel-pointer{
    width: 100%;
}
.navbar-default{
    background-color: #29b078;
    border-radius: 0;
}
.navbar-nav{
    float: right;
    font-size: 0.8rem;
    font-weight: 200;
}
.navbar-nav::after{
    content: "";
    clear: both;
}
header span{
    float: none;
}
.icon-bar{
    width: 17px!important; 
    height: 2px!important;
}
#navbar-collapse{
    border: none;
}
.collapsed{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
}
.visible-xs{
    float: right;
    color: black;
}
.visible-xs>a{
    float: none;
    color: black;
    height: 1rem;
    font-size:1.2vmax;
    padding:0;
}
@media screen and ( max-width: 768px ) {
    .navbar-nav{
        float: none;
    }
    .navbar-collapse>ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.navbar-nav>li>a{
    color: #ffffff!important;
}
.navbar-nav>li>a:focus{
    border-bottom: 2px solid #ffffff;
}
.navbar-nav>li>a:hover{
    border-bottom: 2px solid #ffffff;
}
main{
    margin-bottom: 12.4vw;
}
.title{
    margin-top: 1.7vw;
    margin-bottom: 1.56vw;
}
.title a{
    color: #29b078;
}
.nav-pills>li>a:hover{
    color: #ffffff;
    border-radius: 0;
    background-color: #29b078;
}
.nav-pills{
    margin-bottom: 1.25vw;
}
.nav-pills>li>span{
    display: inline-block;
    color: #afafaf;
    padding: 3px 4px;
}
.nav-pills>li>a{
    padding: 1px 2px;
    margin-left: 1.3vw;
    margin-right: 0.7vw;
    color: black;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
    color: #ffffff;
    border-radius: 0;
    background-color: #29b078;
}
.boxes{
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
.col{
    padding: 0;
}
.box{
    position: relative;
    padding-top: 1vw;
    margin-bottom: 2.5vw;
    margin-right:  1.4vw;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 0 5px #dddbdb;
    border: none;
}
.hover{ 
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 4.53vw;
    color: #ffffff;
    border-radius: 4px;
    background-color: rgba(61, 61, 61, 0.8);
    z-index: 10;
}
.box:hover .hover{
    display: block;
    animation: sport;
}
@keyframes sport {
    from  {transform: translateY(100%);opacity: 0;}
    to {transform: translateY(0px);opacity: 1}
}
.hover .hover-title{
    padding-bottom: 2vw;
    text-align: center;
}
.hover .hover-content{
    font-size: 0.8vw;
    width: 60%;
    margin: 0 auto;
}
.box-header{
    margin-top: 1vw;
    display: flex;
}
@media screen and ( max-width: 768px ) {
    .detail{
        flex-direction: column;
    }
}
.box-header .photo{
    margin-left: 15px;
}
.box-duty{
    margin-left: 1vw;
    font-size: 0.73vw;
}
.box-content{
    width: 100%;
    font-size: 0.6vw;
    margin-top: 1vw;
    line-height: 2.86vmax;
}
.box-detail{
    padding-left: 1vw;
    border: 1px solid #dddbdb;
    border-left: none;
    border-right: none;
}
.box-1-detail{
    padding-left: 1vw;
    border: 1px solid #dddbdb;
    border-left: none;
}
.box-2-detail{
    padding-left: 1vw;
    border: 1px solid #dddbdb;
    border-right: none;
}
.box-content .red{
    color: #f24b42;
}
.box-content .grey{
    color: #afafaf;
}
.box-2-detail .right{
    float: right;
    margin-right: 1vw;
}
.box-1-detail .calc{
    display: inline-block;
}
footer{
    position: relative;
    font-size: 0.8vmax;
    padding-top: 1.9vw;
    color: #ffffff;
    font-weight: 500;
    background-color: #29b078;
}
@media screen and ( max-width: 768px ) {
    footer{
        text-align: center;
    }
}
footer .about{
    margin-bottom: 1.7vw;
}
.us{
    display: inline-block;
    margin-top: 3.3vw;
}
.us a{
    color: #ffffff;
}
.website{
    margin-bottom: 0.7vw;
}
.web{
    display: inline-block;
    margin-right: 1.8vw;
    margin-top: 1vw;
}
.web a{
    line-height: 1vw;
    color: #ffffff;
    text-decoration: none;
}
.web a:hover{
    margin-bottom: -1px;
    border-bottom: 1px solid #ffffff;
}
.qrcode{
    text-align: center;
    padding-bottom: 0.9vw;
}
.qrcode p{
    padding: 0;
    margin:0;
}
.record{
    font-size: 0.6vmax;
    line-height: 1.5vw;
    word-spacing: 4px;
    text-align: center;
    border-top: 1px solid #32c086;
    padding-top: 5px;
    padding-bottom: 5px;
}
.record p{
    margin: 0;
}