html  {
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
}
*{
    margin:0;
    padding:0;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    transform: scale(1);
}
.bg-wechat {
    width: 1.7rem; height: 1.6rem;
    background: url('css_sprites-share.png') -0 -0;
    background-size: 100%;
}
.bg-QQ {
    width: 1.7rem; height: 1.6rem;
    background: url('css_sprites-share.png') -0 -50%;
    background-size: 100%;
}
.bg-weibo {
    width: 1.7rem; height: 1.6rem;
    background: url('css_sprites-share.png') -0 -100%;
    background-size: 100%;
}
header{
    text-align: right;
}
header p{
    font-size: 0.9rem;
    line-height: 2.5rem;
    color: #67c097;
    margin: 0;
}
header button{
    margin: 0.4rem;
    padding: 0;
}
.navbar-default{
    background-color: #29b078;
    border-radius: 0;
}
.navbar-header{
    float: right;
    font-size: 0.8rem;
    font-weight: 200;
}
.navbar-header>a:visited{
    color: #ffffff;
}
.navbar-header>a:focus,a:hover{
    color: #ffffff!important;
    border-bottom: 2px solid #ffffff;
}
.carousel .slide{

}   
.rousel-control>a:focus,a:hover{
    border: 0;
}