html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

img {
  display: inline-block;
  zoom: 0.55;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 4.2rem;
  background: #5fc0cd;
  font-size: 1.8rem;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  line-height: 4.2rem;
}

header a {
  position: absolute;
  top: 0.5rem;
  left: 1.8rem;
}

main {
  margin-top: 4.2rem;
  margin-bottom: 7rem;
}

main .introduce {
  position: relative;
  height: 16.8rem;
  background-image: url(../img/img2/background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
}

main .introduce .photo {
  margin-left: 1.5rem;
  margin-right: 2rem;
}

main .introduce .details .information {
  margin-bottom: 0.5rem;
}

main .introduce .details .information .name {
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

main .introduce .details .information .age {
  font-size: 1.4rem;
  margin-right: 1.6rem;
}

main .introduce .location {
  display: flex;
  align-items: center;
}

main .introduce .location img {
  margin: 0.3rem;
}

main .introduce .location .address {
  margin-left: 0.4rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

main .skill {
  font-size: 1.6rem;
}

main .skill .title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e5e7;
}

main .skill .title .green-line {
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.5rem;
  border-right: 1.5px solid #5fc0cd;
}

main .skill .title .title-text {
  margin-left: 0.6rem;
  font-weight: normal;
}

main .skill .row {
  margin-left: 1.7rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e5e7;
}

main .skill .row .row-content, main .skill .row .l-row {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  margin-left: 1.4rem;
}

main .skill .row .row-content img, main .skill .row .l-row img {
  display: inline-block;
  margin-right: 0.5rem;
}

main .skill .row .row-content .short-line, main .skill .row .l-row .short-line {
  display: inline-block;
  height: 1.3rem;
  margin-left: 1rem;
  margin-right: 0.9rem;
  border-right: 1px solid #e1e5e7;
}

main .skill .row .row-content .grey, main .skill .row .l-row .grey {
  white-space: nowrap;
  color: #999999;
}

main .skill .row .row-content .red, main .skill .row .l-row .red {
  color: red;
}

main .skill .row .l-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7rem;
  flex-shrink: 1;
  margin-left: 1.4rem;
}

main .skill .row .l-row .l-text {
  font-size: 1.3rem;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer button {
  width: 45%;
  height: 4.4rem;
  border: 1px solid #5fc0cd;
  border-radius: 5px;
}

footer .left {
  color: #5fc0cd;
}

footer .right {
  color: #ffffff;
  background: #5fc0cd;
}
